src/main/resources/template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="https://ezhov-da.github.io/content" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="content" type="con:contentType" xmlns:con="https://ezhov-da.github.io/content"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="rowsType">
        <xs:sequence>
            <xs:element type="con:rowType" name="row" maxOccurs="unbounded" minOccurs="0"
                        xmlns:con="https://ezhov-da.github.io/content"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="templateType">
        <xs:sequence>
            <xs:element type="con:rowsType" name="rows" xmlns:con="https://ezhov-da.github.io/content"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
    <xs:complexType name="templatesType">
        <xs:sequence>
            <xs:element type="con:templateType" name="template" xmlns:con="https://ezhov-da.github.io/content"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contentType">
        <xs:sequence>
            <xs:element type="con:templatesType" name="templates" xmlns:con="https://ezhov-da.github.io/content"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="xsd"/>
    </xs:complexType>
</xs:schema>